p{
    font-family: devil;
    line-height: 200%;
}
@font-face {
    font-family: devil;
    src: url(/fonts/SDHauntedHouse_demo.otf);
}

#para1{
    background-color: burlywood;
    color: brown;
}

.para2{
    background-image: url(/images/images.jpg) ;
    color: beige;
    background-repeat: no-repeat;
    background-size: ;
}

body{
    background-image: url(/images/360_F_210556027_pNmg4EUFwrn2W25SDdWayPakVIztTSe8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}